.countrypicker-box {
  width: 500px;
  margin: 40px auto;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.loading-countries {
  margin: 40px auto;
}
.loading-countries-txt {
  margin-top: 3px;
  margin-left: 2px;
  color: #5e5e5f;
}
.css-10nd86i {
  width: 255px !important;
}
.select-msg {
  margin-bottom: 5px;
  margin-right: 5px;
}
